@using Microsoft.AspNetCore.Components.Authorization
@using Ticketer.DAL.Models
@using System.Security.Claims

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Ticketer</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
    </nav>
</div>



@code {
    private bool isAuthenticated;
    private string userRole;

    [CascadingParameter] private Task<AuthenticationState> AuthenticationState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (AuthenticationState != null)
        {
            var authState = await AuthenticationState; // Wait for the authentication state
            var user = authState.User;

            isAuthenticated = user.Identity.IsAuthenticated;
            userRole = user.FindFirst(c => c.Type == ClaimTypes.Role)?.Value;
        }
    }
}
